[Desktop Entry]
Name=Telescope
Comment=StardustXR based OpenXR Overlay
Exec=telescope
Type=Application
Icon=org.stardustxr.Telescope
Categories=Utility;X-WiVRn-VR;
