name: Build AppImage

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  APPDIR: StardustXR-Telescope.AppDir
  CARGO_TERM_COLOR: always
  SCCACHE_GHA_ENABLED: "true"
  RUSTC_WRAPPER: "sccache"

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v3

      - name: Setup sccache
        uses: mozilla-actions/sccache-action@v0.0.9

      - name: Install OpenXR SDK dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake libgl1-mesa-dev libvulkan-dev libx11-xcb-dev libxcb-dri2-0-dev libxcb-glx0-dev libxcb-keysyms1-dev libxcb-randr0-dev libxrandr-dev libxxf86vm-dev mesa-common-dev

      - name: Build and Install OpenXR SDK
        run: |
          wget https://github.com/KhronosGroup/OpenXR-SDK/archive/refs/tags/release-1.1.36.tar.gz
          tar xzf release-1.1.36.tar.gz
          cd OpenXR-SDK-release-1.1.36
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make
          sudo make install

      - name: Install Stardust/Rust dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y pkg-config libfuse2t64 libfontconfig1-dev vulkan-tools libvulkan1 libxcb-ewmh-dev libxfixes-dev libxcb-icccm4-dev libxcb-res0-dev libxkbcommon-dev xwayland

      - name: Set up Rust (gnu)
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: x86_64-unknown-linux-gnu

      - name: Set up Rust (musl)
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          profile: minimal
          target: x86_64-unknown-linux-musl

      - name: Download appimagetool
        run: |
          wget https://github.com/AppImage/appimagetool/releases/download/1.9.0/appimagetool-x86_64.AppImage -O appimagetool
          chmod +x appimagetool

      - name: Build AppImage
        run: |
          chmod +x build_appimage.sh
          ./build_appimage.sh

      - name: Upload AppDir
        uses: actions/upload-artifact@v4
        with:
          name: Telescope.AppDir
          path: Telescope.AppDir

      - name: Upload AppImage
        uses: actions/upload-artifact@v4
        with:
          name: Telescope-x86_64.AppImage
          path: Telescope-x86_64.AppImage
